:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  padding: 0;
  margin: 0;
}


.header {
  /* width: 100vw; */
  padding-inline: 24px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  top: 0;
  border-bottom: 1px saddlebrown solid;
}

.header h2 {
  cursor: pointer;
}

.header input {
  position: absolute;
  right: 10px;
  top: 40vh;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}

.header input:focus {
  height: 30px;
  border-radius: 8px;
  border: none;
  padding: 4px 8px 4px;
  width: auto;
  text-align: left;

}

.navbar {
  display: flex;
  height: 25px;
  /* height: 1.2px; */
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar .icon {
  width: 15px;
  color: red;
  height: 1.2px;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem;
  width: 15rem;
  border-radius: 1rem;
  height: 15rem;
  border: rgba(255, 255, 255, 0.87) 1px solid;
}

.card:hover {
  transform: scale(1.01);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.cardTitle img {
  padding-inline-end: 10px;
  max-height: 50px;
  width: 50px;
}

.category {
  width: fit-content;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  font-size: small;
  cursor: pointer;
}

.category:hover {
  filter: brightness(0.6);
}

.cardButton {
  display: flex;
  justify-content: space-between;
}

.cardButton button {
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 8px;
  border: none;
}

.cardButton button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.cardGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:1200px) {
  .cardGroup {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:800px) {
  .cardGroup {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:400px) {
  .cardGroup {
    grid-template-columns: 1fr;
  }
}

.navigationButton {
  margin: 2rem 1rem;
  text-align: center;
}

.navigationButton button {
  margin: 2px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.navigationButton select {
  margin: 2px;
  width: 50px;
  padding-block: 8px;
  border-radius: 4px;
  border: none;
}

.navigationButton option {
  height: 100px;
}

.navigationButton button:hover {
  cursor: pointer;
}

.footer {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.60rem;
}

.sidebar {
  display: none;
  position: absolute;
  background-color: #5a5353;
  z-index: 1;
  width: 250px;
  text-align: center;
  height: 90vh;
  overflow: hidden;
  border-radius: 0px 50px 50px 0px;
}

.sidebar:hover {}

.sideBarItem {
  height: 50px;
  margin: 5px;
}